.p {
  width: 30%;
  height: 40vh;
  margin: 20px 10px;
  border: 2px solid rgb(243, 242, 242);
  border-radius: 10px;
  overflow: hidden;
}

.p-browser {
  height: 12px;
  background-color: rgb(105, 105, 105);
  display: flex;
  align-items: center;
  position: sticky;
  z-index: 2;
}

.p-circle {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  margin-left: 5px;
  margin-right: 2px;
  background-color: rgb(215, 121, 130);
}
.p-circle-middle {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  margin: 2px;
  background-color: yellow;
}
.p-circle-right {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  margin: 2px;
  background-color: rgb(143, 206, 166);
}

.p-img {
  width: 100%;
  transition: all 20s ease;
}

.p:hover .p-img {
  transform: translateY(-100%);
}

@media screen and (max-width: 480px) {
  .p {
    width: 40%;
    height: 20vh;
  }
}
